@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nprogress/nprogress.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

#nprogress .bar {
    background: limegreen !important;
}

.circleItem {
    border-radius: 50%;   
  width: 100px;         
  height: 100px;        
  display: flex;        
  justify-content: center; 
  align-items: center;  
  text-align: center;   
  border: 2px solid; 
  margin: 10px auto;    
  font-weight: bold;    
  color: black;
}

.customCard .ant-card-head {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 25px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dividerCol {
  position: relative;
  margin-right: -1px;
}

.dividerCol:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 25px;
  background-color: grey;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  padding: 10px;
  border-radius: 25px;
  align-items: center;
}

.delButton{
    margin: 5px;
    color:green;
    border-color: green;
}

.handleCol{
    margin-left: 100px;
}

.inputCol{
    margin-left: 20px;
}

.createBtn{
    color: blue;
    border-color: blue;
}